:root {
    --main-color: rgb(56, 0, 255);
    --second-color: rgb(248, 215, 28);
}

body {
    color: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.35em;
    background-color: white;
    cursor: none;
}

main {
    border: 8px double var(--main-color);
    padding: 50px;
    grid-area: main;

}

main img {
    max-width: 30%;
    height: auto;
    margin-right: 30px;
}

#mainWrapper {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-size: 3em;*/
    font-size: calc(10px + 2.5vw);

}

h2 {
    /*font-size: 2.5em;*/
    font-size: calc(14px + 1vw);
    padding: 0px;
}

h3 {
    /*font-size: 2em;*/
    font-size: calc(10px + 1vw);
    padding: 0px;
}

p {
    font-size: calc(8px + 0.5vw);
    margin: 0px 0px 1.5rem 0px;
}

::-webkit-scrollbar {
    width: 0.65em;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: none;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

#p5Wrapper {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

#container {
    display: grid;
    margin: 80px 50px;
    /*border: 1px solid red;*/
    grid-template-columns: 0.25fr 1fr;
    grid-template-areas:
        'nav main';
}


#menuWrapper {
    position: fixed;
    height: 100%;
    /*border: 1px solid red;*/
    grid-area: nav;


}

#menuWrapper ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menuWrapper li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(14px + 1vw);
    line-height: 2em;
    /*border: 1px solid red;*/
    color: var(--main-color);
    text-decoration: none;

}

#menuWrapper li a:hover:not(.active) {
    color: var(--second-color);
}

#menuWrapper li a.active {
    text-decoration: line-through;
}

.workWrapper>img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.workWrapper>span>p {
    column-count: 2;
}

.workWrapper>span>p>a {
    color: var(--main-color);
}

.workWrapper>span>p>a:hover {
    color: var(--second-color);
}

@media screen and (max-width: 1200px) {
    #container {
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
        grid-template-areas: 'nav' 'main';
        grid-gap: 10px;
        margin: 50px 50px;
    }

    #menuWrapper {
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 100%;

    }

    #menuWrapper li {
        display: inline;
    }

    #menuWrapper li a {
        padding: 10px;
    }

    #menuWrapper marquee {
        display:none;

    }

    .workWrapper>span>p {
        column-count: 1;
    }
}


#SoMeIcons a {
    color: var(--main-color);
}

#SoMeIcons a:hover {
    color: var(--second-color);
}

